.main{
  text-align: center;
  background-color: black;
  /* background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/beabdffc-1e01-47f0-8988-cde3fd808115/dez45u1-3540fc54-f404-429a-84fe-543d742aa416.png/v1/fill/w_480,h_480,q_80,strp/dungeon_brick_wall__8_bit__by_trarian_dez45u1-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDgwIiwicGF0aCI6IlwvZlwvYmVhYmRmZmMtMWUwMS00N2YwLTg5ODgtY2RlM2ZkODA4MTE1XC9kZXo0NXUxLTM1NDBmYzU0LWY0MDQtNDI5YS04NGZlLTU0M2Q3NDJhYTQxNi5wbmciLCJ3aWR0aCI6Ijw9NDgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.g6iwpNfHd_aZolDJI2ElUNa8il4I85rUwJXITmsqk3g); */
  background-image: url(https://t3.ftcdn.net/jpg/02/96/74/90/360_F_296749091_cBS5tC0ike7Z8UedzPL74nYFRc9Q3rjW.jpg);
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.screen {
  width: 80%;
  height: 600px;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}
