.main{
    padding-left: 0;
    text-align: center;
    margin: auto;
    font-size: larger;
    background-color: transparent;
    scale: 80%;
  }

  .name {
    text-align: left;
    margin: auto;
    padding-left: 45px;
    font-size: xx-large;
    color: white;
  }

  .healthbar {
    /* justify-content: flex-start; */
    min-width: 500px;
  }