.main{
    border: 1px black solid;
    padding: 1rem;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    background: url(/public/Images/game_background_1.png);
    background-position: center;
    background-size: 1500px;
   
   
  }