.main{
  border: 1px black solid;
  text-align: center;
  background-color: black;
  border-radius: 4px;
  background-size: cover;
  width: 100%;
}

.screen {
  background-image: url(../../../../../public/Images/game_background_1.png);
  background-size: cover;
  display: grid;
  grid-template-areas: "narrator enemy enemy " 
                       "animation animation animation"
                       "player player battlemenu";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(1fr 4fr 1fr);
  width: 80%;
  justify-content: center;
  /* height: 656px; */
}

.enemy {
  display: flex;
  justify-content: flex-end;
  grid-area: enemy;
}

.animation {
  display: flex;
  justify-content: center;
  grid-area: animation
}

.player {
  display: flex;
  grid-area: player;
  justify-content: flex-start;
  position: static;
}

.menu {
  display: flex;
  justify-content: center;
  grid-area: battlemenu;
}

.narrator {
  display: flex;
  margin: 30px 0 0 30px;
  grid-area: narrator;
  justify-content: center;
}