.main{
    border: 1px black solid;
    padding: 1rem;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    background-image: url(https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/3ec04946-604a-4011-9e42-027d362fcbb7_scaled.jpg);
    background-size:cover;
  }