.main{
  display: flex;
  border: 1px black solid;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  justify-content: right;
  background-color: white;
  }

.menuButton {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: dodgerblue;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100px;
  margin: 1rem;
  border-radius: 10px;
  border: 1px black solid;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px, 10px;
}