.main{
  display: flex;
  padding-right: 1rem;
  justify-content: center;
  text-align: center;
  justify-content: right;
  }

.menuButton {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* color: dodgerblue; */
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 1rem;

  border-radius: 20px;
  /* border: 1px solid white; */

  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px, 10px;
}

.image {

  height: 50px
   height: 80px;
  width: 80px;
  transform: scaleX(-1);
}
.Attackimage {
  height: 80px;
  width: 120px;
}
.HealImage{
  height: 80px;
  width: 120px;

 
}

.image:hover {
  transform: rotate(350deg);
}

.image:nth-child(1):hover {
  transform: rotate(180deg);
}

.menuButton:hover {
  /* border: 1px solid black; */
  color: white;
  cursor: pointer;
}

.menuButton:nth-child(2):hover {
  color: red

}