.main{
  border: 1px black solid;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  align-items: center;
  padding-right: 1rem;
  margin: 1rem;
}