.main{
  text-align: center;
  background-color: transparent;
  font-size: medium;
  width: 95%;
}

.glow {
  color: white;
  font-size: medium;
  text-shadow: 
  0px 0px 15px rgb(236, 233, 233),
  0px 0px 5px rgba(0,0,0, 1);
}