.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.characterImage{
  

  height: 20rem;
  scale: 70%;
  object-position: top 60px right 10px;



}
.EnemyImage {
    transform: scaleX(-1);
    height: 20rem;
    scale: 70%;
 }