.main{
    display: flex;
   flex-direction: row;
   justify-content: center;
}

.CharacterImage{
  
  height: 450px;
  object-position: top 60px right 10px;

/* .characterImage{
    height: 50;
    scale: 70%; */

}
.EnemyImage {
    transform: scaleX(-1);
    height: 50;
    scale: 70%;
 }