.main{
    display: flex;
   flex-direction: row;
   justify-content: center;
}
.CharacterImage{
  
  height: 450px;
  object-position: top 60px right 10px;
}
.EnemyImage {
    transform: scaleX(-1);
    height: 50;
 }