.main{
  border: 0.5px black solid;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  background-color: slategray;
  background-image: url(https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/3ec04946-604a-4011-9e42-027d362fcbb7_scaled.jpg);
  background-size:cover ;
  min-height: 500px;
  
}

.startButton {
  margin-top: 1rem;
  border: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100px;
  margin: 1rem;
  border-radius: 10px;
  border: 1px black solid;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  
}