.main{
  /* display: flex; */
  padding: 1rem;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  font-size: larger;
  background-color: transparent;
  scale: 80%;
}

.name {
  text-align: right;
  margin: auto;
  padding-right: 45px;
  font-size: xx-large;
  color: white;
}

.healthbar {
  min-width: 500px;
  margin-right: 0;
  padding-right: 0;
}