.main{
  border: 1px black solid;
  padding: 1rem;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  font-size: larger;
  background-color: white;
  scale: 80%;
}

.name {
  text-align: right;
  margin: auto;
  font-size: larger;
}